* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  border: 1px dashed black;
  max-width: 1440px;
  margin: auto;
}

main {
  margin: 0 100px 0 100px;

  @media (max-width: 768px) {
    margin: 0 20px 0 20px;
  }
}
