@import "vars";

.card {
  width: 100%;
  height: 340px;
  background-color: $third-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 768px) {
    max-height: 255px;
    // background-size: 100% auto;
  }
  h2 {
    color: $second-color;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 15px 15px;
  }
}
