@import "vars";

.collapse {
  display: flex;
  flex-direction: column;
  .collapse__title {
    background-color: $third-color;
    color: $second-color;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 13px;
    }
    span {
      cursor: pointer;
    }
  }
  .collapse__content {
    margin-top: -20px;
    padding: 20px;
    background-color: #f6f6f673;
    border-radius: 10px 10px 5px 5px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    height: 0;
    transition: all 0.5s ease;
    opacity: 0;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .collapse__content.show {
    margin-top: 0;
    opacity: 1;
    height: auto; /* Définissez la hauteur sur 'auto' pour afficher tout le contenu */
    transition: all 0.5s ease; /* Ajoutez une transition pour la hauteur */
  }
}
