@import "vars";

footer {
  background-color: black;
  height: 209px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $second-color;
  font-size: 24px;
  font-weight: 500;
  .footer__text {
    margin: 40px 0 24px 0;
  }
}
