@import "vars";

.gallery {
  background-color: $fourth-color;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }
  a {
    text-decoration: none;
  }
}
