@import "vars";

header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 100px 50px 100px;
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    .navbar__link {
      text-align: end;
      width: 136px;
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: $main-color;
    }
    .navbar__link.active {
      text-decoration: underline;
    }
  }
}
