@import "vars";

.body__error {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $third-color;
  font-weight: 500;
  span {
    font-size: 288px;
    font-weight: 700;
  }
  p {
    font-size: 36px;
    font-weight: 500;
  }
  a {
    color: $main-color;
    font-size: 18px;
  }
}
