@import "vars";

.tag {
  min-width: 115px;
  height: 25px;
  padding: 0 20px 0 20px;
  background-color: $third-color;
  border-radius: 10px;
  color: $second-color;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    font-size: 10px;
    min-width: 70px;
    height: 18px;
    padding: 0 10px 0 10px;
  }
}
